.navbar{
  background: #ddc1c6;
  font-family: "Helvitica", serif;
  padding-right: 15px;
  padding-left: 15px;
}
.highlight{
  color: #0056b3;
}
.navdiv{
  display: flex;
  align-items: center;
  justify-content: center;
}
.navlogo a{
  font-size: 35px;
  font-weight: 600;
  color: #333333;
}
li{
  display: inline-block;
}
li a{
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
}

.signInButton{
  background-color: transparent;
  margin-left: 10px;
  border-radius: 0px;
  border: 2px solid gray;
  padding: 10px;
  width: 150px;
  /*For the button fonts*/
  color: #333333;
  font-weight: bold;
  font-size: 15px;
}
.signUpButton{
  /*display: flex;*/
  /*justify-content: center;*/
  /*padding-top: 30px;*/
  background-color: #906e74;
  margin-left: 10px;
  border-radius: 0px;
  border: 1px solid gray;
  padding: 10px;
  width: 150px;
  /*For the button fonts*/
  color: #333333;
  font-weight: bold;
  font-size: 15px;
}
.signUpButton a{
  color: #333333;
  font-weight: bold;
  font-size: 15px;
}
.hireMeButton{
  padding: 11px;
  width: 200px;
  border-radius: 0px;
  margin-right: 15px;
  font-size: 18px;
  font-weight: bold;
  background-color: #906e74;
  border: 2px solid gray;
}
.hireMeDiv{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

#home{
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}
.intro{
  text-align: left;
  margin-left: 200px;
}
.intro h3{
  font-size: x-large;
  font-family: "Arial", serif;
  margin-top: 0;
  margin-bottom: 0;
}
.intro h1{
  font-size: 70px;
  /*font-family: "Corben", cursive;*/
  font-family: "Arial", serif;
  margin-top: 0;
  margin-bottom: 0;
}
.intro h2{
  font-size: xx-large;
  font-family: "Arial", serif;
  margin-top: 0;
  margin-bottom: 0;
}
#changing-phrase{
  color: #704c52;
  font-family: "Coda", cursive;
}

#home p{
  margin: 0 100px;
  text-align: justify;
}


.aboutDiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#about{
  padding-top: 50px;
  padding-bottom: 20px;
  padding-right: 50px;
}
#about h1{
  text-align: center;
}
#about p{
  margin: 0 100px;
  text-align: justify;
}
.sampling{
  width: 300px;
  height: 330px;
  filter: drop-shadow(0 0 20px #121212);
}


#testimonies{
  padding-top: 50px;
  padding-bottom: 20px;
  display: flex;
}
#testimonies h4{
  text-align: center;
}
#testimonies p{
  margin: 0 30px;
  text-align: center;
  background: #eee;
  padding: 30px;
  border-radius: 10px;
}



#contact{
  margin-top: 120px;
  background-color: #333333;
  padding: 1px;
}
#contact p{
  color: white;
}

.infos{
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
#contact .footer .info p{
  font-size: 15px;
}
