<main>
  <header>
    <nav class="navbar">
      <div class="navdiv" id="navdiv">
        <div class="navlogo"><a href="#navdiv">Port<span class="highlight">folio.</span></a></div>
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="#testimonies">Testimonies</a></li>
<!--          <button id="signInButton" data-bs-toggle="modal" data-bs-target="#signInModal"><a>Sign In</a></button>-->
          <button id="signInButton" class="signInButton"(click)="openModal()"><a>LOG IN</a></button>
          @if (showModal){
            <app-sign-in-modal (closeModal)="closeModal()">
            </app-sign-in-modal>
          }
          <button id="signUpButton" class="signUpButton"><a>SIGN UP</a></button>
        </ul>
      </div>
    </nav>
  </header>
  <div class="main">
    <div class="home" id="home">
      <img class="ginaImage" alt="An image of a beautiful and powerful woman." ngSrc="assets/gina.png" height="500" width="500" priority>
      <div class="intro">
        <h3>Hi, my name is</h3>
        <h1>Gina Espinosa</h1>
        <h2>And I'm a <span id="changing-phrase">SOFTWARE ENGINEER</span>.</h2>
        <script [src]="changePhrase()"></script>
        <div class="hireMeDiv">
          <button id="hireMeButton" class="hireMeButton"><a>HIRE ME</a></button>
        </div>
      </div>
    </div>
    <div class="aboutDiv">
      <div class="about" id="about">
        <h1>About Sample</h1>
        <p>
          In the heart of the bustling city, there was an old bookstore called "The Lost Pages."
          It was a quaint, dusty place filled with towering shelves of books that seemed to touch the ceiling.
          The owner, Mr. Wren, was a kind but enigmatic man who had a deep love for literature.
          One rainy afternoon, a young woman named Clara wandered into the bookstore, seeking refuge from the storm.
          She was an avid reader and loved to explore old bookshops. As she browsed the aisles, her fingers brushed against an old, leather-bound book tucked away on a high shelf.
          She carefully pulled it down and opened it.
        </p>
        <br>
        <p>
          To her surprise, the book seemed to be a collection of sample pages from different manuscripts.
          Each page was unique, showcasing various styles of handwriting and illustration.
          One page, in particular, caught her eye. It was beautifully decorated with intricate drawings of mythical creatures and landscapes,
          but what stood out was the handwritten note at the bottom:
        </p>
      </div>
      <div class="picture">
        <img class="sampling" alt="tiger" ngSrc="assets/sample-png-files-4.png" height="400" width="400">
      </div>
    </div>
    <div class="services" id="services"></div>
    <div class="testimonies" id="testimonies">
      <div>
        <h4>Testimony 1:</h4>
        <p>
          "I recently had an issue with my order, so I contacted customer service.
          To my surprise, they responded within minutes and <strong>resolved</strong> the problem immediately.
          The representative was polite and went above and beyond to ensure I was satisfied.
          I've never experienced such <strong>exceptional</strong> service before!"
        </p>
        <h4>Testimony 2:</h4>
        <p>
          "Reading 'The Alchemist' by Paulo Coelho was a turning point in my life.
          The book's message about following your dreams and listening to your heart resonated deeply with me.
          It gave me the courage to pursue my passion for painting, and I've never been happier."
        </p>
      </div>
      <div>
        <h4>Testimony 3:</h4>
        <p>
          "Joining the local gym was the best decision I've ever made.
          The trainers are knowledgeable and supportive, and the community is incredibly motivating.
          I've lost 20 pounds and gained so much confidence. I feel stronger and healthier than ever!"
        </p>
        <h4>Testimony 4:</h4>
        <p>
          "I recently took up knitting as a new hobby, and it has been surprisingly therapeutic.
          I love creating beautiful scarves and sweaters for my friends and family.
          It's become my favorite way to unwind after a long day."
        </p>
      </div>
    </div>
    <div class="contact" id="contact">
      <div class="footer">
        <footer>
          <div class="infos">
            <p>Email: ginaespinosa117&#64;gmail.com</p>
            <p>Address: 131 Colon St., Cebu City</p>
          </div>
          <div class="infos">
            <p>Instagram: &#64;maven__x</p>
            <p>Phone: 09876452342</p>
          </div>
        </footer>
      </div>
    </div>
  </div>
</main>

<router-outlet />
